<!DOCTYPE html>
<html th:replace="~{main :: main(~{::title}, ~{}, ~{::ol}, ~{::section}, ~{::script})}" xmlns:th="http://thymeleaf.com">
<head>
	<title th:text="${event.title}">Event</title>
</head>
<body>
<ol>
	<li class="breadcrumb-item"><a class="breadcrumb-link" th:href="@{/home}">Home</a></li>
	<li class="breadcrumb-item"><a class="breadcrumb-link" th:href="@{/events}">Events</a></li>
	<li class="breadcrumb-item"><a class="breadcrumb-link active" aria-current="page" th:href="@{/event/{eventId}(eventId=${event.id})}" th:text="${event.title}"></a></li>
</ol>
<section class="container space-1">

	<div class="page-header">
		<h1 class="display-4" th:attr="title=${event.description}" th:text="${event.title}">Event title</h1>
		<h2><span th:text="${{event.date}}">date</span> - <small class="text-muted" th:text="${event.location}"></small></h2>
	</div>
	<hr>
	
	<div class="row">
		<div class="col-3">
			<nav class="nav nav-pills flex-column bg-white p-3" role="tablist" aria-orientation="vertical">
				<a th:each="member,iter : ${members}" class="nav-link mx-2 my-1"
						data-toggle="tab" role="tab"
						th:classappend="${iter.first} ? 'active' : ''"
						th:href="@{#event-member-{memberId}(memberId=${member.id})}"
						th:text="${member.firstName}"></a>
			</nav>
		</div>
		
		<div class="col-9">
			<div class="tab-content">
				<div class="tab-pane fade" th:each="member,iter : ${members}"
						th:id="'event-member-' + ${member.id}"
						th:classappend="${iter.first} ? 'show active' : ''">
					<div class="row">
						<div class="col-6">
							<h3 th:text="${member.firstName}"></h3>
						</div>
						<div class="col-6">
							<div class="media align-items-center">
								<label class="checkbox-switch mr-3">
									<input type="checkbox" class="checkbox-switch__input" id="toggle-purchased-wishes">
									<span class="checkbox-switch__slider"></span>
								</label>
							</div>
						</div>
					</div>
					
					<div class="table-responsive-md u-datatable">
						<table th:id="'wish-table-' + ${member.id}" class="wish-table table table-borderless table-hover u-datatable__striped u-datatable__content mb-5">
							<thead>
								<tr class="text-uppercase font-size-1">
									<th scope="col" class="font-weight-medium">
										<div class="d-flex justify-content-between align-items-center">
											Description
										</div>
									</th>
									<th scope="col" class="font-weight-medium">
										<div class="d-flex justify-content-between align-items-center">
											Price
										</div>
									</th>
									<th scope="col" class="font-weight-medium">
										<div class="d-flex justify-content-between align-items-center">
											Available
										</div>
									</th>
									<th scope="col" class="font-weight-medium">
										<div class="d-flex justify-content-between align-items-center">
											Links
										</div>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!-- Available wishes -->
								<tr th:each="wish : ${member.wishes}" th:if="${!wish.purchased}">
									<td th:text="${wish.description}"></td>
									<td th:text="${wish.price.currency}"></td>
									<td th:text="${wish.quantity}"></td>
									<td>
										<a th:each="reference : ${wish.references}" th:href="${reference.url}" target="_blank"><i class="fal fa-link"></i></a>
									</td>
									<td>
										<button class="btn btn-xs btn-primary">Purchase</button>
									</td>
								</tr>
								
								<!-- Purchased wishes -->
								<tr th:each="wish : ${member.wishes}" th:if="${wish.purchased}" class="purchased"
										th:classappend="${wish.purchaser == user} ? 'table-success' : 'table-danger'">
									<td th:text="${wish.description}"></td>
									<td th:text="${wish.price.currency}"></td>
									<td th:text="${wish.quantity}"></td>
									<td>
										<a th:each="reference : ${wish.references}" th:href="${reference.url}" target="_blank"><i class="fal fa-link"></i></a>
									</td>
									<td>
										<button th:if="${wish.purchaser == user}" class="btn btn-xs btn-secondary">Return</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/custom/event.js}"></script>
</section>
</body>
</html>
