<!DOCTYPE html>
<html th:replace="~{main :: main(~{::title}, ~{}, ~{::ol}, ~{::section}, ~{::script})}" xmlns:th="http://thymeleaf.com">
<head>
	<title>Events</title>
</head>
<body>
<ol>
	<li class="breadcrumb-item"><a class="breadcrumb-link" th:href="@{/home}">Home</a></li>
	<li class="breadcrumb-item"><a class="breadcrumb-link active" aria-current="page" th:href="@{/events}">Events</a></li>
</ol>
<section class="container space-1">
	<div class="u-cubeportfolio">
		<!-- Filter -->
		<ul id="filterControls" class="list-inline cbp-l-filters-alignRight text-center">
			<li class="list-inline-item cbp-filter-item cbp-filter-item-active u-cubeportfolio__item" data-filter="*">All</li>
			<li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".member">Member</li>
			<li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".admin">Admin</li>
		</ul>
		<!-- End Filter -->
		
		<!-- Content -->
		<div class="cbp" data-layout="grid" data-controls="#filterControls" data-animation="quicksand"
				data-x-gap="32" data-y-gap="32" data-media-queries='[
	        {"width": 1500, "cols": 4},
	        {"width": 1100, "cols": 4},
	        {"width": 800, "cols": 3},
	        {"width": 480, "cols": 2},
	        {"width": 300, "cols": 1}
	      ]'>
	      	<!-- New Item -->
	      	<div class="cbp-item rounded bg-primary">
				<a class="cbp-caption" th:href="@{/events/new}">
					<div class="cbp-caption-defaultWrap p-3 text-center" style="min-height: 12rem">
						<i class="fal fa-plus-circle fa-5x fa-inverse pt-6"></i>
					</div>
					<div class="cbp-caption-activeWrap bg-white">
						<div class="cbp-l-caption-alignCenter">
							<div class="cbp-l-caption-body">
								<h4 class="h6 mb-0">Create event</h4>
							</div>
						</div>
					</div>
				</a>
			</div>
	      	<!-- End New Item -->
	      
			<!-- Item -->
			<div th:each="event : ${events}" class="cbp-item rounded bg-white"
					th:classappend="${event.admins.contains(user) && event.members.contains(user)} ? 'admin member'
							: (${event.admins.contains(user)} ? 'admin' : (${event.members.contains(user)} ? 'member' : ''))">
				<a class="cbp-caption" th:href="@{/events/{eventId}(eventId=${event.id})}">
					<div class="cbp-caption-defaultWrap p-3" style="min-height: 12rem">
						<h5 th:text="${event.title}">Event title</h5>
						<p class="small text-muted" th:text="${event.description}">Description goes here</p>
						<p class="small text-muted" th:text="${event.members.size()} + ' members'"># members</p>
					</div>
					<div class="cbp-caption-activeWrap bg-primary">
						<div class="cbp-l-caption-alignCenter">
							<div class="cbp-l-caption-body">
								<h4 class="h6 text-white mb-0" th:text="${{event.date}}"></h4>
								<p class="small text-white mb-0" th:text="${event.location}"></p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- End Item -->
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/custom/events.js}"></script>
</section>
</body>
</html>
						