<!DOCTYPE html>
<html th:replace="~{main :: main(~{::title}, ~{}, ~{::ol}, ~{::section}, ~{::script})}" xmlns:th="http://thymeleaf.com">
<head>
	<title th:text="${event.title}">Event</title>
</head>
<body>
<ol>
	<li class="breadcrumb-item"><a class="breadcrumb-link" th:href="@{/home}">Home</a></li>
	<li class="breadcrumb-item"><a class="breadcrumb-link" th:href="@{/events}">Events</a></li>
	<li class="breadcrumb-item"><a class="breadcrumb-link active" aria-current="page" th:href="@{/events/{eventId}(eventId=${event.id})}" th:text="${event.title}"></a></li>
</ol>
<section class="container space-1">

	<div class="page-header">
		<h1 class="display-4" th:attr="title=${event.description}" th:text="${event.title}">Event title</h1>
		<h2><span th:text="${#temporals.format(event.date, 'MMMM d, yyyy h:mma')}"></span> - <small class="text-muted" th:text="${event.location}"></small></h2>
	</div>
	<hr>
	
	<div class="row">
		<div class="col-12 col-md-3">
			<ul class="nav nav-pills flex-column bg-white p-3" role="tablist" aria-orientation="vertical">
				<li class="nav-item mx-2 my-1 dropdown" th:if="${event.admins.contains(user)}">
					<a id="manage-event-link" class="manage-event-link nav-link dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fas fa-cog fa-fw"></i> Manage
					</a>
					<div class="dropdown-menu">
						<a class="event-nav-link manage-event-link dropdown-item" data-toggle="tab"
								role="tab" href="#event-manage-detail">
							Edit event details
						</a>
						<!-- 
						<a class="event-nav-link manage-event-link dropdown-item" data-toggle="tab"
								role="tab" href="#event-manage-secret-santa">
							Secret Santa
						</a>
						 -->
						<div class="dropdown-divider"></div>
						<a class="event-nav-link manage-event-link dropdown-item" data-toggle="tab"
								th:classappend="${members.isEmpty() ? 'active' : ''}"
								role="tab" href="#event-manage-members">
							Manage members
						</a>
						<a class="event-nav-link manage-event-link dropdown-item text-danger" data-toggle="tab"
								role="tab" href="#event-manage-admins">
							Manage admins
						</a>
					</div>
				</li>
				<li th:each="member,iter : ${members}" th:if="${member != user}"
						class="event-nav-link nav-item mx-2 my-1">
					<a class="nav-link" data-toggle="tab" role="tab"
						th:classappend="${iter.first || (iter.index == 1 && members[0] == user)} ? 'active' : ''"
						th:href="@{#event-member-{memberId}(memberId=${member.id})}"
						th:text="${member.firstName}"></a>
				</li>
				<li th:each="member : ${members}" th:if="${member == user}"
						class="nav-item mx-2 my-1">
					<a class="nav-link" th:text="${member.firstName}"></a> 
				</li>
			</ul>
		</div>
		
		<div class="col-12 col-md-9">
			<div id="hide-purchases" class="tag-content bg-white p-3 float-right">
				<div class="media text-right">
					<label class="media-body text-muted mb-0 pr-2 d-none d-md-block" for="checkboxSwitch8">
						<span class="d-block text-dark">Hide purchased items</span>
					</label>
					<label class="checkbox-switch mr-3">
						<input type="checkbox" class="checkbox-switch__input" id="toggle-purchased-wishes">
						<span class="checkbox-switch__slider" id="toggle-purchased-wishes-span"></span>
					</label>
				</div>
			</div>
			<div class="tab-content bg-white p-3">
				<div class="tab-pane fade" id="event-manage-detail">
					<!-- Event details management section -->
					<div th:insert="secured/event-management :: edit-event"></div>
				</div>
				<div class="tab-pane fade" id="event-manage-secret-santa">
					<!-- Event secret santa management section -->
					<div th:insert="secured/event-management :: manage-secret-santa"></div>
				</div>
				<div class="tab-pane fade" id="event-manage-members" th:classappend="${members.isEmpty() ? 'show active' : ''}">
					<!-- Event member management section -->
					<div th:insert="secured/event-management :: manage-members"></div>
				</div>
				<div class="tab-pane fade" id="event-manage-admins">
					<!-- Event admin management section -->
					<div th:insert="secured/event-management :: manage-admins"></div>
				</div>
				<div class="tab-pane fade" th:each="member,iter : ${members}"
						th:id="'event-member-' + ${member.id}"
						th:if="${member != user}"
						th:classappend="${iter.first || (iter.index == 1 && members[0] == user)} ? 'show active' : ''">
					<h2 class="pl-2"><strong th:text="${member.firstName}"></strong></h2>
					
					<div class="table-responsive-md u-datatable">
						<table th:id="'wish-table-' + ${member.id}" class="wish-table table table-borderless table-stripe u-datatable__striped u-datatable__content mb-5">
							<thead>
								<tr class="text-uppercase font-size-1">
									<th scope="col" class="font-weight-medium">
										<div class="d-flex justify-content-between align-items-center">
											Description
										</div>
									</th>
									<th scope="col" class="font-weight-medium">
										<div class="d-flex justify-content-between align-items-center">
											Price
										</div>
									</th>
									<!-- 
									<th scope="col" class="font-weight-medium">
										<div class="d-flex justify-content-between align-items-center">
											Quantity
										</div>
									</th>
									 -->
									<th scope="col" class="font-weight-medium">
										<div class="d-flex justify-content-between align-items-center">
											Links
										</div>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!-- Available wishes -->
								<tr th:each="wish : ${member.wishes}" th:if="${!wish.purchased}">
									<td th:text="${wish.description}"></td>
									<td th:text="${wish.price != null ? wish.price.currency : 'N/A'}"></td>
									<!-- <td th:text="${wish.quantity}"></td> -->
									<td>
										<span th:if="${wish.references.isEmpty()}">N/A</span>
										<a th:each="reference : ${wish.references}" th:href="${reference.url}" target="_blank"><i class="fal fa-link"></i></a>
									</td>
									<td>
										<button class="btn btn-xs btn-primary purchase-btn" th:attr="data-wish-id=${wish.id}">Purchase</button>
										<button style="display:none;" class="btn btn-xs btn-secondary return-btn" th:attr="data-wish-id=${wish.id}">&nbsp;&nbsp;Return&nbsp;&nbsp;&nbsp;</button>
									</td>
								</tr>
								
								<!-- Purchased wishes -->
								<tr th:each="wish : ${member.wishes}" th:if="${wish.purchased}" class="purchased"
										th:classappend="${wish.purchaser == user} ? 'table-success' : 'table-danger'">
									<td th:text="${wish.description}"></td>
									<td th:text="${wish.price != null ? wish.price.currency : 'N/A'}"></td>
									<!-- <td th:text="${wish.quantity}"></td> -->
									<td>
										<span th:if="${wish.references.isEmpty()}">N/A</span>
										<a th:each="reference : ${wish.references}" th:href="${reference.url}" target="_blank"><i class="fal fa-link"></i></a>
									</td>
									<td>
										<button style="display:none;" class="btn btn-xs btn-primary purchase-btn" th:attr="data-wish-id=${wish.id}">Purchase</button>
										<button th:if="${wish.purchaser == user}" class="btn btn-xs btn-secondary return-btn" th:attr="data-wish-id=${wish.id}">&nbsp;&nbsp;Return&nbsp;&nbsp;&nbsp;</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/custom/event.js}"></script>
</section>
</body>
</html>
