<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Navigation</title>
</head>
<body>
	<main th:fragment="main-nav" id="content" role="main">
		<div class="gradient-overlay-half-primary-v1">
			<div class="container space-top-1 pb-3">
				<div class="row">
					<div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
						<div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
							<!-- Breadcrumb -->
							<ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0" th:include="${breadcrumb}">
								<li class="breadcrumb-item"><a class="breadcrumb-link active" aria-current="page" th:href="@{/home}">Home</a></li>
							</ol>
							<!-- End Breadcrumb -->
							
							<!-- Breadcrumb Nav Toggle Button -->
							<div class="d-lg-none">
								<button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white" aria-label="Toggle navigation" aria-expanded="false" aria-controls="breadcrumbNavBar" data-toggle="collapse" data-target="#breadcrumbNavBar">
									<span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
										<span class="u-hamburger__inner"></span>
									</span>
								</button>
							</div>
							<!-- End Breadcrumb Nav Toggle Button -->
						</div>
					</div>
					<div class="col-lg-7 order-lg-1">
						<!-- User Info -->
						<div class="media d-block d-sm-flex align-items-sm-center">
							<div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3 d-none d-md-block">
								<a th:href="@{/home}"><i class="fal fa-gift fa-inverse fa-5x"></i></a>
							</div>
							<div class="media-body">
								<h1 class="h3 text-white font-weight-medium mb-1" th:text="'Hello, ' + ${user.firstName} + '!'">Hello!</h1>
								<span class="d-block text-white" th:text="${user.email}">email@example.com</span>
							</div>
						</div>
						<!-- End User Info -->
					</div>
				</div>
			</div>
			<div class="container space-bottom-1 space-bottom-lg-0">
				<div class="d-lg-flex justify-content-lg-between align-items-lg-center">
					<!-- Navbar -->
					<div class="u-header u-header-left-aligned-nav u-header--bg-transparent-lg u-header--white-nav-links z-index-4">
						<div class="u-header__section bg-transparent">
							<nav class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar u-header__navbar--no-space hs-menu-initialized hs-menu-horizontal">
								<div id="breadcrumbNavBar" class="collapse navbar-collapse u-header__navbar-colapse">
									<ul class="navbar-nav u-header__navbar-nav">
										<!-- 
										<li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
											<a id="generalDropdown" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="generalDropdownMenu">
												<i class="fas fa-user fa-fw"></i>
												<span th:text="${user.firstName}"></span> 
											</a>
											<ul id="generalDropdownMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" style="min-width: 230px; display: none">
												<li>
													<a class="nav-link u-header__sub-menu-nav-link" href="">Account</a>
												</li>
												<li>
													<a class="nav-link u-header__sub-menu-nav-link" th:href="@{/logout}">Logout</i></a>
												</li>
											</ul>
										</li>
										 -->
										<li class="nav-item u-header__nav-item">
											<a class="nav-link u-header__nav-link" th:href="@{/wishlist}">Wishlist</a>
										</li>
										<li class="nav-item u-header__nav-item">
											<a class="nav-link u-header__nav-link" th:href="@{/events}">Events</a>
										</li>
										<li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
											<a id="profileMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="profileSubMenu">
												<i class="fal fa-cog"></i>
											</a>
											
											<!-- Profile sub menu -->
											<ul id="profileSubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="profileMegaMenu" style="min-width: 230px;">
												<li><a class="nav-link u-header__sub-menu-nav-link" th:href="@{/account}">My Account</a></li>
												<li><a class="nav-link u-header__sub-menu-nav-link" th:href="@{/managed-users}">Managed Users</a></li>
												<li><a class="nav-link u-header__sub-menu-nav-link" th:href="@{/logout}">Logout</a></li>
											</ul>
											
										</li>
										<!-- 
										<li class="nav-item u-header__nav-item">
											<a class="nav-link u-header__nav-link" href="#">Purchases</a>
										</li>
										<li class="nav-item u-header__nav-item">
											<a class="nav-link u-header__nav-link" href="#">My Account</a>
										</li>
										 -->
									</ul>
								</div>
							</nav>
						</div>
					</div>
					<!-- End Navbar -->
					<div class="ml-lg-auto">
						<!-- Button -->
						<a class="btn btn-sm btn-soft-white transition-3d-hover" href="javascript:void(0);" data-toggle="modal" data-target="#new-wish-modal">
							<span class="fas fa-plus small mr-2"></span>
							Add a Wish
						</a>
						<!-- End Button -->
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
